.card-image {
    background-size: cover;
    background-position: center;
    height: 150px;
    background-repeat: no-repeat;
}
.card {
    overflow: hidden;
}

a {
    color: unset;
    text-decoration: unset;
    &:hover {
        color: unset;
    }
}