.crop {
    overflow: hidden;
    display: inline-block;
    vertical-align: text-top;
}
h6 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
}
#star-wrapper {
    width: 75px;  
}