<div id="star-container">
    <h6>Rating:</h6>
    <div class="crop" [style.width.px]="cropWidth">
        <div id="star-wrapper" [title]="rating">
            <span class="fa fa-star" [style.color]="starFill"></span>
            <span class="fa fa-star" [style.color]="starFill"></span>
            <span class="fa fa-star" [style.color]="starFill"></span>
            <span class="fa fa-star" [style.color]="starFill"></span>
            <span class="fa fa-star" [style.color]="starFill"></span>
        </div>
    </div>    
</div>